* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #222;
  color: #222; }

html {
  overflow: auto; }

body {
  height: 500%; }

.page-wrapper {
  position: fixed;
  width: 840px;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -420px;
  font-size: 16px;
  z-index: 2; }

.list-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.list {
  position: relative;
  width: 420px;
  margin: 0 auto;
  padding: 0;
  list-style: none; }
  .list .list-item {
    width: 100%;
    height: 150px;
    padding: 2.1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    color: inherit;
    text-decoration: none;
    cursor: default; }
  .list .list-item:nth-child(even) {
    background-color: #e5e5e5; }
  .list .list-item:nth-child(odd) {
    background-color: #f5f5f5; }
  .list .list-item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .list .list-item:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
  .list .project-figure {
    width: 30%;
    flex-shrink: 0;
    margin-right: 1em; }
  .list .project-figure img {
    display: block;
    max-width: 100%;
    max-height: 100%; }
  .list h3 {
    margin-bottom: 4px; }
  .list h3, .list img, .list p {
    cursor: pointer; }

.list-a {
  top: 0; }
  .list-a .list-item:last-child {
    display: none; }

.list-b {
  z-index: 10;
  font-size: 2em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border-radius: 6px; }
  .list-b .list {
    width: 840px; }
  .list-b .list-item {
    height: 300px; }

.list-c {
  bottom: 0; }
  .list-c .list-item:first-child {
    display: none; }
